{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'shop_frame.twig' %}
{% set posts = getGuids() %}
{% block main %}
   <div class="container">
   <row>
   
   <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12" >
               
                <ul class="ty-news-list">
                 {% for post in posts %}  
                  <li><em>{{loop.index}}</em> 
                  <a style="width:85%;" href="{{ url('post_detail', {'id': post.ID}) }}" title="{{post.post_title}}">{{post.post_title}}</a> 
                  </li>                                                  
                 {% endfor %}
                </ul>
    </div>
    <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
      <ul class="ty-pic-txt">
            <li style="margin-bottom:5px;height:230px;" >
              <a class="ty-pic-txt-p " href="{{ url('product_detail', {'id': 3}) }}" target="_blank" style="padding-right: 5px; padding-left: 5px;">                                                                
                  <div class="slide-item">
                   <img src="http://www.office-soft.jp/html/upload/save_image/0723221635_5d3708b395826.jpg">
                  </div>                       
               </a>
               <div  style="padding-right: 5px; padding-left: 5px;">
                 <p class="tt">
                     <a href="{{ url('product_detail', {'id': 3}) }}" target="_blank" title="">                       
                         Microsoft Office 2019 Pro plus ダウンロード版|Windows PC2台用|                                                                        
                      </a>                       
                  </p>
                  <p>
                   <em href="{{ url('product_detail', {'id': 3}) }}" target="_blank" title="" >￥10,800</em>
                  </p>
               
               <div>
            </li>
            <li style="margin-bottom:5px;height:230px;" >
              <a class="ty-pic-txt-p " href="{{ url('product_detail', {'id': 6}) }}" target="_blank" style="padding-right: 5px; padding-left: 5px;">                                                                
                  <div class="slide-item">
                   <img src="http://www.office-soft.jp/html/upload/save_image/0813185044_5d5287f447282.png">
                  </div>                       
               </a>
               <div  style="padding-right: 5px; padding-left: 5px;">
                 <p class="tt">
                     <a href="{{ url('product_detail', {'id': 6}) }}" target="_blank" title="">                                
                         Microsoft Office 365 Home                                                                                                                       
                      </a>                       
                  </p>
                  <p>
                   <em href="{{ url('product_detail', {'id': 6}) }}" target="_blank" title="" >￥9,900</em>
                  </p>
               
               <div>
            </li>
            <li style="margin-bottom:5px;height:230px;" >
              <a class="ty-pic-txt-p " href="{{ url('product_detail', {'id': 5}) }}" target="_blank" style="padding-right: 5px; padding-left: 5px;">                                                                
                  <div class="slide-item">
                   <img src="http://www.office-soft.jp/html/upload/save_image/0813175849_5d527bc93f32c.png">
                  </div>                       
               </a>
               <div  style="padding-right: 5px; padding-left: 5px;">
                 <p class="tt">
                     <a href="{{ url('product_detail', {'id': 5}) }}" target="_blank" title="">                                
                         
                         Microsoft Windows 10 Pro ダウンロード版(32 bit/64 bit 日本語版）                        
                                                                                                                                               
                      </a>                       
                  </p>
                  <p>
                   <em href="{{ url('product_detail', {'id': 5}) }}" target="_blank" title="" >￥8,600</em>
                  </p>
               
               <div>
            </li>
        </ul>
    </div>
    </div>

{% endblock %}

